* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.machine {
  width: 250px;
  height: 250px;
  margin: 200px;
  background-color: #fff;
  box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.07);
  transition: transform 0.4s ease;
  border-top: 5px solid #eedf15;
  border-radius: 6px;
}

.machine:hover {
  transform: scale(1.02);
}
